@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 5px;
  padding: 0px;
}



nav {
  border: 2px solid #222222;
  height: 60px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-left: 10px;
  color: #222222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

.logo-link {
  text-decoration: none;
  color: #222222;
}

.burger-menu {
  /* border: 2px solid #ffff; */
  position: fixed;
  width: 60px;
  height: 60px;
  font-size: 35px;
  font-weight: 800;
  right: 10px;
  top: 10px;
  display: none;
}

.nav-menu {
  /* border: 2px solid black; */
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  margin-left: 10px;
  color: #222222;
  font-size: 14px;

}

.nav-link:hover {
  font-weight: 600;
}

.selected {
  font-weight: 800;
}

.fav-count {
  font-size: 16px;
  font-weight: 800;
  color: #B22222;
}

.main-div {
  /* border: 2px solid #222222; */
  margin: 10px 0 10px 0;
  min-height: calc(100vh - 60px);
}

.art-gallery {
  /* border: 2px solid #222222; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.art-img img {
  width: 100%;
}


.art-top {
  /* border: 2px solid black; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.art-heart,
.art-profile {
  /* border: 2px solid red; */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.art-heart img {
  height: 80%;
}

.art-profile img {
  height: 80%;
  border: 5px solid #222222;
  border-radius: 50%;
}

.large {
  height: 100px;
}

.tag {
  border: 2px solid tomato;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: tomato;
}

.portfolio-link {
  text-decoration: none;
  font-weight: 600;
}

.large-tag {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.art-name {
  min-height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.art-main {
  margin-top: 20px;
}

.detail-label {
  /* border: 1px solid red; */
  min-width: 100px;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
}

footer {
  border: 2px solid #222222;
  font-size: 14px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #222222;
  margin-left: 5px;
  font-weight: 800;
}

@media screen and (max-width: 1000px) {
  .art-gallery {
    grid-template-columns: 1fr;
  }

  .large-tag {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .nav-menu {
    /* border: 2px solid #222222; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: -100%;
    left: 0;

    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .nav-menu.active {
    top: 0;
  }
}