@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 5px;
  padding: 0px;
}



nav {
  border: 2px solid #222222;
  height: 60px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-left: 10px;
  color: #222222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  /* border: 2px solid black; */
}

a {
  text-decoration: none;
}

.burger-menu {
  /* border: 2px solid #ffff; */
  position: fixed;
  width: 60px;
  height: 60px;
  font-size: 35px;
  font-weight: 800;
  right: 10px;
  top: 10px;
  display: none;
}

.nav-menu {
  /* border: 2px solid black; */
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  margin-left: 10px;
  color: #222222;
  font-size: 14px;

}

.nav-link:hover {
  font-weight: 600;
}

.selected {
  font-weight: 800;
}

.fav-count {
  font-size: 16px;
  font-weight: 800;
  color: #B22222;
}

.welcome {
  background-color: lightgray;
  /* border: 2px solid #222222; */
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  padding: 20px;
  /* border: 2px solid #222222; */
  max-width: 800px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.text-design {
  margin: 0 10px 0 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 800;
  /* font-style: italic; */
}

.one {
  color: #B22222;
}

.two {
  color: #504188;
}

.three {
  color: orangered;
}

.four {
  color: #FF6969;
}

.five {
  color: blue;
}

.six {
  color: #141E46;
}

.seven {
  color: tomato;
}

.main-div {
  /* border: 2px solid #222222; */
  margin: 10px 0 10px 0;
  min-height: calc(100vh - 60px);
}

.art-gallery {
  /* border: 2px solid #222222; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.art {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.art img {
  width: 100%;
  aspect-ratio: 1/1;
}

.art-details {
  /* border: 2px solid #222222; */
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.art-name {
  /* border: 1px solid green;
              background-color: red; */
  width: calc(100% - 30px);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.art-heart {
  /* border: 1px solid yellow;
  padding: 5px; */
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-heart img {
  height: 100%;
  width: 100%;
}

.art-view-btn {
  border: 2px solid #333333;
  background-color: #333333;
  border-radius: 3px;
  color: #ffff;
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 5px;
}

.art-view-btn:hover {
  background-color: antiquewhite;
  color: #222222;
}

.art-opened {
  border: 2px solid #222222;
  width: 100%;

}

.opened-img-div {
  width: 100%;
}

.opened-img-div img {
  width: 100%;
}

.art-opened-details {
  border: 2px solid #222222;
}

#nextButton {
  border: 2px solid black;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ffff;
  background-color: #333333;
}

#nextButton:hover {
  background-color: antiquewhite;
  color: #222222;
  cursor: pointer;
}

footer {
  border: 2px solid #222222;
  font-size: 14px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #222222;
  margin-left: 5px;
  font-weight: 800;
}

@media screen and (max-width: 1000px) {
  .art-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .nav-menu {
    /* border: 2px solid #222222; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: -100%;
    left: 0;

    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .nav-menu.active {
    top: 0;
  }

  .text-box {
    padding: 0;
    font-size: 14px;
  }

  .text-design {
    font-size: 32px;
  }
}

@media screen and (max-width: 700px) {
  .art-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .text-design {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .art-gallery {
    grid-template-columns: 1fr;
  }
}